.Sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    padding: 20px;
    background-color: var(--inverted-bg-color);
    transition: width .3s ease;
}

.switchers {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--inverted-primary-color);
}

.linkIcon {
    display: block;
    flex-shrink: 0;
    width: var(--font-line-m);
    height: var(--font-line-m);
    fill: var(--inverted-primary-color);
}

.linkText {
    white-space: nowrap;
    opacity: 1;
    transform-origin: left;
    transition: opacity .3s ease, transform .3s ease, width .3s ease;
}

.btnCollapse {
    position: absolute;
    top: 0;
    right: -20px;
    display: block;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .linkText {
        width: 0;
        opacity: 0;
    }

    .switchers {
        flex-direction: column;
        justify-content: end;
        gap: 10px;
    }
}