.ArticleList {
    display: flex;
    flex-wrap: wrap;
}

.SMALL {
    .card {
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.BIG {
    width: 100%;

    .card {
        width: 100%;
        margin-bottom: 30px;
    }
}