.ArticleList {
    padding: 0;
    min-height: calc(100vh - var(--navbar-height));
}

.header {
    margin-top: 20px;
    width: calc(100% - 25px);
}

.BIG {
    display: block;
    width: 100%;

    .list {
        height: 100%;
        flex-grow: 1;
    }

    .card {
        width: calc(100% - 25px);
        margin-bottom: 30px;
    }
}

.SMALL {
    display: block;
    width: 100%;

    .itemsWrapper {
        width: calc(100% - 25px);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
    }
}