.PageError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.text {
    max-width: 360px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.btn {
    display: block;
    padding: 20px;
    border-radius: 20px;
}
