.AddCommentForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid var(--primary-color);
    width: 100%;
}

.btn {
    margin-left: 20px;
}