.Text {
    display: block;
}

.title {
    font-size: var(--font-size-l);
    color: var(--primary-color);
}

.text {
    font-size: var(--font-size-m);
    color: var(--secondary-color);
}

.error {
    .text, .title {
        color: var(--error);
    }
}

