.Text {
    display: block;
}

.fz {
    &-m {
        font-size: var(--font-size-m);

        .title {
            font-size: var(--font-size-l);
        }

        .text {
            font-size: var(--font-size-m);
        }

    }

    &-l {
        .title {
            font-size: var(--font-size-xl);
        }

        .text {
            font-size: var(--font-size-l);
        }

    }

    &-xl {
        font-size: var(--font-size-xl);

        .title {
            font-size: var(--font-size-xl);
        }

        .text {
            font-size: var(--font-size-xl);
        }

    }
}

.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondary-color);
}

.error {
    .text, .title {
        color: var(--error);
    }
}

