.app.dark {
  --bg-color: #202060;
  --inverted-bg-color: #b9b9b9;

  --primary-color: #428642;
  --secondary-color: #52be52;
  --inverted-primary-color: #1d3660;
  --inverted-secondary-color: #314b6e;
}