.app.light {
    --bg-color: #b9b9b9;
    --inverted-bg-color: #202060;
    --primary-color: #3a9dff;
    --secondary-color: #6aaaff;
    --inverted-primary-color: #428642;
    --inverted-secondary-color: #52be52;
}