.app_light_theme {
    --bg-color: #b9b9b9;
    --inverted-bg-color: #202060;
    --primary-color: #3a9dff;
    --secondary-color: #6aaaff;
    --inverted-primary-color: #49c049;
    --inverted-secondary-color: #52be52;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #818181;
}