.app.light {
  --bg-color: #b9b9b9;
  --inverted-bg-color: #202060;

  --primary-color: #1d3660;
  --secondary-color: #314b6e;
  --inverted-primary-color: #428642;
  --inverted-secondary-color: #52be52;
}