.Modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    transition: opacity .3s ease-in-out;

    &.isClosing {
        opacity: 0;
    }

    &.opening {
        pointer-events: auto;
        z-index: var(--modal-z-index);
    }

}

.content {
    padding: 20px;
    background: var(--bg-color);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    opacity: 1;
    transform: scale(1);
}

.contentClosing {
    opacity: 0;
    transform: scale(.2);
}
