.ProfileCard {
    position: relative;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.btnEdit {
    position: absolute;
    right: 20px;
    top: 20px;
}

.title {
    margin-bottom: 30px;
}

.data {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    margin-bottom: 10px;
}

.isLoading, .isError {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarWrapper {
    margin: 0 auto;
    width: fit-content;
}

.cardSelect {
    margin-bottom: 10px;
}
